.controls {
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    max-width: 450px;
  }

  @media screen and (max-width: 1270px) {
    max-width: 800px;
  }

  @media screen and (max-width: 840px) {
    max-width: 600px;
  }

  @media screen and (max-width: 640px) {
    max-width: 400px;
  }

  .logo {
    font-size: 2.8rem;
    color: #b58863;
  }

  .instruct {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;

    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }
  }

  button {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 0.7rem;
    border-radius: 0.1rem;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      font-size: 0.8rem;
    }

    &:hover {
      background-color: #2c2c2c;
    }
  }

  .btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .travail {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}
